---
import { NUMBER_OF_POSTS_PER_PAGE } from 'server-constants'
import {
  getPosts,
  getRankedPosts,
  getAllTags,
  getNumberOfPages,
} from 'lib/notion/client'
import {
  PUBLIC_SITE_TITLE,
  PUBLIC_SITE_DESCRIPTION,
  PUBLIC_GA_TRACKING_ID,
} from 'server-constants'
import Content from 'components/Content.astro'
import Masthead from 'components/Masthead.astro'
import { HOMEPAGE_URL } from 'server-constants'
import { IoArrowForward } from 'react-icons/io5'
import NoContents from 'components/NoContents.astro'
import Image from 'components/Image.astro'
import Tags from 'components/Tags.astro'
import Body from 'components/Body.astro'
import BaseHead from 'components/BaseHead.astro'
import GoogleAnalytics from 'components/GoogleAnalytics.astro'
import Header from 'components/Header.astro'
import Footer from 'components/Footer.astro'

const [posts] = await Promise.all([
  getPosts(NUMBER_OF_POSTS_PER_PAGE),
  getRankedPosts(),
  getAllTags(),
  getNumberOfPages(),
])
---

<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
  <head>
    <BaseHead title={PUBLIC_SITE_TITLE} description={PUBLIC_SITE_DESCRIPTION} />
  </head>
  <Body>
    <GoogleAnalytics trackingId={PUBLIC_GA_TRACKING_ID} />
    <Header title={PUBLIC_SITE_TITLE} />
    <main class="pt-[56px]">
      <Masthead />
      <Content>
        <section>
          <p class="mb-8 indent-4">
            I'm a freelancer working as a front-end developer, I spend hours
            coding, and I'm a forgetful person, so I wanted to create a blog to
            help me remember what I've done or fix a bug.
            <a
              class="inline-flex items-center gap-1 indent-1 text-orange-500"
              href={HOMEPAGE_URL}
              >Read more about me <IoArrowForward className="inline" />
            </a>
          </p>
        </section>
        <section>
          {
            posts.length === 0 ? (
              <NoContents />
            ) : (
              <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
                {posts.map((post) => (
                  <li class="text-center mb-5">
                    <a href={`/blog/${post.Slug}`}>
                      <Image post={post} />
                      <div class="mt-3 mb-1 text-xl font-bold">
                        {post.Title}
                      </div>
                      {post.Excerpt && (
                        <div class="opacity-70">{post.Excerpt}</div>
                      )}
                    </a>
                  </li>
                ))}
              </ul>
            )
          }
        </section>
      </Content>
    </main>
    <Footer />
  </Body>
</html>
