---
import { NUMBER_OF_POSTS_PER_PAGE } from 'server-constants'
import { getPosts } from 'lib/notion/client'
import { PUBLIC_SITE_TITLE, PUBLIC_SITE_DESCRIPTION } from 'server-constants'
import Content from 'components/Content.astro'
import Masthead from 'components/Masthead.astro'
import { HOMEPAGE_URL } from 'server-constants'
import { IoArrowForward } from 'react-icons/io5'
import NoContents from 'components/NoContents.astro'
import Image from 'components/Image.astro'
import PostTitle from 'components/PostTitle.astro'
import Layout from 'layouts/Layout.astro'

const [posts] = await Promise.all([getPosts(NUMBER_OF_POSTS_PER_PAGE)])
---

<Layout title={PUBLIC_SITE_TITLE} description={PUBLIC_SITE_DESCRIPTION}>
  <Masthead />
  <Content>
    <section>
      <p class="mb-8 indent-4">
        I'm a freelancer working as a front-end developer, I spend hours coding,
        and I'm a forgetful person, so I wanted to create a blog to help me
        remember what I've done or fix a bug.<a
          class="inline-flex items-center gap-1 indent-1 text-orange-500"
          href={HOMEPAGE_URL}
          >Read more about me <IoArrowForward className="inline" />
        </a>
      </p>
    </section>
    <section>
      {
        posts.length === 0 ? (
          <NoContents />
        ) : (
          <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
            {posts.map((post) => (
              <li class="text-center mb-5">
                <a href={`/blog/${post.Slug}`}>
                  <div class="relative w-full hover:scale-105 duration-300">
                    <Image post={post} />
                    <div class="group-hover:opacity-100 opacity-0 transition-all duration-500 flex cursor-pointer absolute top-0 left-0 w-full h-full items-center justify-center bg-black/40">
                      <p class="font-bold text-light">Read More</p>
                    </div>
                  </div>
                  <PostTitle post={post} />
                  {post.Excerpt && <div class="opacity-70">{post.Excerpt}</div>}
                </a>
              </li>
            ))}
          </ul>
        )
      }
    </section>
  </Content>
</Layout>>
