---
import {
  PUBLIC_SITE_TITLE,
  PUBLIC_SITE_DESCRIPTION,
  PUBLIC_GA_TRACKING_ID,
  ENABLE_LIGHTBOX,
} from 'server-constants'
import { getNavLink, getStaticFilePath } from 'lib/blog-helpers'
import 'styles/syntax-coloring.css'
import GoogleAnalytics from 'components/GoogleAnalytics.astro'
import Body from 'components/Body.astro'
import Header from 'components/Header.astro'
import Footer from 'components/Footer.astro'

export interface Props {
  title?: string
  description?: string
  path?: string
  ogImage?: string
}

const {
  title = 'Dionannd',
  description = '',
  path = '/',
  ogImage = '',
} = Astro.props

const siteTitle = title ? `${title} - ${PUBLIC_SITE_TITLE}` : PUBLIC_SITE_TITLE
const siteDescription = description ? description : PUBLIC_SITE_DESCRIPTION
const siteURL = new URL(path, Astro.site).toString()
const siteOGImage = new URL('/default-og-image.png', Astro.site)

const navItems = [
  { label: 'Home', path: '/' },
  { label: 'Blog', path: '/blog' },
]
---

<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="max-image-preview:large" />
    <meta charset="UTF-8" />
    <meta name="generator" content={Astro.generator} />
    <title>{siteTitle}</title>
    <meta name="description" content={siteDescription} />
    <link rel="canonical" href={siteURL} />
    <meta property="og:url" content={siteURL} />
    <meta property="og:title" content={siteTitle} />
    <meta property="og:description" content={siteDescription} />
    <meta property="og:site_name" content={PUBLIC_SITE_TITLE} />
    <meta property="og:image" content={ogImage || siteOGImage} />
    <meta name="twitter:title" content={siteTitle} />
    <meta name="twitter:description" content={siteDescription} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content={ogImage || siteOGImage} />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.css"
      integrity="sha384-vKruj+a13U8yHIkAyGgK1J3ArTLzrFGBbBc0tDp4ad/EyewESeXE/Iv67Aj8gKZ0"
      crossorigin="anonymous"
    />
  </head>
  <Body>
    <GoogleAnalytics trackingId={PUBLIC_GA_TRACKING_ID} />
    <Header />
    <main class="pt-[56px]">
      <slot />
    </main>
    <Footer />
  </Body>


</html>
