---
import {
  PUBLIC_SITE_TITLE,
  PUBLIC_SITE_DESCRIPTION,
  PUBLIC_GA_TRACKING_ID,
  ENABLE_LIGHTBOX,
} from 'server-constants'
import { getStaticFilePath } from 'lib/blog-helpers'
import GoogleAnalytics from 'components/GoogleAnalytics.astro'
import Body from 'components/Body.astro'
import Header from 'components/Header.astro'
import Footer from 'components/Footer.astro'
import BaseHead from 'components/BaseHead.astro'
import '../styles/syntax-coloring.css'

export interface Props {
  title: string
  description?: string
  path?: string
  ogImage?: string
}

const { title, description, path = '/', ogImage = '' } = Astro.props

const siteTitle = title ? title : PUBLIC_SITE_TITLE
const siteDesc = description ? description : PUBLIC_SITE_DESCRIPTION
---

<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
  <head>
    <BaseHead
      title={siteTitle}
      description={siteDesc}
      path={path}
      image={ogImage}
    />
  </head>
  <Body>
    <GoogleAnalytics trackingId={PUBLIC_GA_TRACKING_ID} />
    <Header />
    <main class="pt-[56px]">
      <slot />
    </main>
    <Footer />
    {
      ENABLE_LIGHTBOX && (
        <script src={getStaticFilePath('/scripts/fslightbox.js')} />
      )
    }
  </Body>
</html>
